@font-face {
  font-family: "PhonkSans-Light";
  src: url("../../fonts/phonkSans-Light.otf") format("otf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../../fonts/Roboto-Light.otf.") format("otf");
}
body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../img/trucks-mobile.jpg) no-repeat center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/trucks-mobile.jpg) no-repeat center/cover;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 0;
}
@media screen and (min-width: 1200px) {
  body {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../img/trucks.jpg) no-repeat center/cover;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/trucks.jpg) no-repeat center/cover;
  }
}
body img {
  border-radius: 100px;
  width: 120px;
  height: 120px;
}

.container {
  min-width: 320px;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}
.container h1 {
  font-family: "PhonkSans-Light", sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 2%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .container h1 {
    font-size: 56px;
  }
}

.swiper-slide p {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  letter-spacing: 2%;
  color: white;
  width: 248px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .swiper-slide p {
    font-size: 24px;
    width: 845px;
  }
}

.reviewer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviewer-name {
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .reviewer-name {
    text-transform: capitalize;
  }
}

.swiper-slide.swiper-slide-active .reviewer-name,
.swiper-slide.swiper-slide-active .review-text {
  display: block;
}
.swiper-slide .reviewer-name,
.swiper-slide .review-text {
  display: none;
}

.reviewer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-3d .swiper-slide-shadow {
  background-color: transparent;
}

@media screen and (min-width: 1200px) {
  .swiper-slide-active img {
    width: 180px;
    height: 180px;
  }
}

.swiper-3d .swiper-wrapper {
  -webkit-transform-style: flat;
          transform-style: flat;
}

@media screen and (min-width: 1200px) {
  .swiper-wrapper {
    overflow: hidden;
  }
}

.swiper-navigation {
  color: white;
}

.swiper-slide:not(.swiper-slide-active) img {
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: white;
}

.swiper-pagination-bullet {
  background: #1d71b8;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: white;
  opacity: 1;
}