@import "../scss/utils/fonts.scss";

body {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/img/trucks.jpg) no-repeat center / cover;
  height: fit-content;
  min-width: 0;

  img {
    border-radius: 100px;
    width: 120px;
    height: 120px;
  }
}

.container {
  min-width: 320px;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    min-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 1200px;
  }

  h1 {
    font-family: "PhonkSans-Light", sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 2%;
    color: white;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 1200px) {
      font-size: 56px;
    }
  }
}

.swiper-slide {
  p {
    font-family: "Roboto Flex", sans-serif;
    font-size: 16px;
    letter-spacing: 2%;
    color: white;
    width: 248px;
    text-align: center;

    @media screen and (min-width: 1200px) {
      font-size: 24px;
      width: 845px;
    }
  }
}

.reviewer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewer-name {
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    text-transform: capitalize;
  }
}

.swiper-slide {
  &.swiper-slide-active {
    .reviewer-name,
    .review-text {
      display: block;
    }
  }
  .reviewer-name,
  .review-text {
    display: none;
  }
}

.reviewer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-3d .swiper-slide-shadow {
  background-color: transparent;
}

.swiper-slide-active {
  @media screen and (min-width: 1200px) {
    img {
      width: 180px;
      height: 180px;
    }
  }
}

.swiper-3d .swiper-wrapper {
  transform-style: flat;
}

.swiper-wrapper {
  @media screen and (min-width: 1200px) {
    overflow: hidden;
  }
}

.swiper-navigation {
  color: white;
}

.swiper-slide:not(.swiper-slide-active) {
  img {
    filter: brightness(0.6);
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: white;
}

.swiper-pagination-bullet {
  background: #1d71b8;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: white;
  opacity: 1;
}
