@import "/css/phonkSans.styles.css";
@import "/css/roboto.styles.css";

body {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/img/trucks-mobile.jpg) no-repeat center / cover;
  height: fit-content;
  min-width: 0;

  img {
    border-radius: 100px;
    width: 120px;
    height: 120px;
  }
}

.container {
  min-width: 320px;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    min-width: 1200px;
  }

  h2 {
    font-family: "phonkSans", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2%;
    color: white;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 1200px) {
      font-size: 56px;
    }
  }
}

.swiper-slide {
  p {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 2%;
    color: white;
    width: 248px;
    text-align: center;

    @media screen and (min-width: 1200px) {
      font-size: 24px;
      width: 845px;
      //
      //
      //
      display: flex;
      //
      //
      //
      //
    }
  }
}

.reviewer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewer-name {
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    text-transform: capitalize;
  }
}

.swiper-slide {
  &.swiper-slide-active {
    .reviewer-name,
    .review-text {
      display: block;
    }
  }
  .reviewer-name,
  .review-text {
    display: none;
  }
}

.reviewer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// .swiper-3d .swiper-slide-shadow {
//   background-color: transparent;
// }
.swiper-slide-active {
  @media screen and (min-width: 1200px) {
    img {
      width: 180px;
      height: 180px;
    }
  }
}
